* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  overflow-x: hidden;
}

:root {
  --color-1: #f3eed9;
  --color-2: #824936;
  --color-3: #222c2a;
}

/* section-1 */

.section-1 {
  height: 70vh;
  background-color: var(--color-1);
}

.section-1-sub-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.35rem;
}

.section-1-heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 3.75rem;
  color: var(--color-2);
}

/* section-2 */
.section-2 {
  height: 60vh;
}

.section-2-heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2.25rem;
  color: var(--color-2);
}

.section-2-parag {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.313rem;
  color: var(--color-3);
}

/* section-3 */
.section-3 {
  background-color: var(--color-3);
  padding: 5% 4%;
}

.section-bottom-heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: var(--color-1);
}

.section-bottom-parag {
  color: #fff;
  width: 28vw;
}

.section-bottom-content-container {
  height: 35vh;
}

@media screen and (max-width: 768px) {
  .section-bottom-parag {
    width: auto;
  }

  .section-bottom-content-container {
    height: auto;
  }
}

/* section-4 */

.section-4 {
  background-color: var(--color-2);
  padding: 5% 4%;
}
